@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@632&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@632&display=swap');

.container-home {
  margin: 0;
  padding: 0;
  height: "500px";
  width: 194vh;
  height: 100vh;
  overflow-y: auto; /* adiciona a opção de rolar para cima e para baixo */
  overflow-x: hidden; /* tira opção de rolar para os lados */
  background-color: #ffffff;

.container-home h1 {
    color: #000000;
    font-family: "Julee", cursive;
    -webkit-text-stroke: 0.5px rgb(0, 0, 0);
    font-size: 2em;
}

.container-home h2 {
  color: #000000;
  font-family: "Julee", cursive;
  -webkit-text-stroke: 0.5px rgb(0, 0, 0);
  font-size: 2em;
}

  
  .back {
    position: fixed;
    top: 0;
    left: 0;
    width: 188vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    z-index: -9999;
  }
}

p {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 0.2px rgb(29, 29, 29);
  font-family: 'Montserrat';
}

header {
  position: relative;
  height: 200px;
  h1 {
    z-index: 9999;
    color: #1b0096;
    font-family: "Poppins";
    -webkit-text-stroke: 0.2px rgb(255, 255, 255);
    font-size: 3em;
    text-align: center;
  }
  h2 {
    z-index: 9999;
    color: #1b0096;
    font-family: "Julee", cursive;
    -webkit-text-stroke: 0.5px rgb(204, 204, 204);
    font-size: 2em;
    text-align: center;
  }
}

.slide-title{
  font-size: 2.3em;
  color: #1b0096;
  font-family: "Julee", cursive;
  -webkit-text-stroke: 0.5px rgb(217, 174, 174);
}

#fav{
  -webkit-text-stroke:#ffffff;
  color: #ff0000;
}

.slids {
  position: relative;
  height: 200px;
  top: 100px;

  h2 {
    z-index: 9999;
    font-size: 2em;
    text-align: center;
  }
}

.back-slid{
  position: absolute;
  width: 500px;
  left: 37%;
  top: -20px;
  z-index: -9999;
  opacity: 0.3;
}
.block1{
background-color: #e0e0e0;
position: relative;
top: 620px;

}
.block2{
  background-color:  #d1d1d1;
  position: relative;
  top: 7px;

  
  }
.text {
  position: relative;
  width: 52vh;
  top: 11px;

  h1 {
    text-align: center;
    color: #1b0096;
    font-size: 3em;
  }
  p {
    text-align: center;
    top: 20px;
    font-family: 'Montserrat';
    font-size: 1.5rem;
  }

  .img1 {
    position: absolute;
    top: 20px;
    left: 670px;
    width: 350px;
    height: 350px;
    z-index: 9999;
  }
  .img2 {
    position: absolute;
    top: 550px;
    left: -570px;
    width: 450px;
    height: 350px;
    z-index: 9999;
  }

  .img3 {
    position: absolute;

    opacity: 20%;
  }
}

.button {
  color: #1b0096;
  background-color: #ffffff;
  border-radius: 1ch;
  width: 200px;
  -webkit-text-stroke: 0.7px rgb(43, 43, 255);
}

.button:hover {
  animation: Button 100s infinite;
}

@keyframes Button {
  0% {
    transform: scale(1);
    background-color: #080808;
    color: #1b0096;
    -webkit-text-stroke: 0.1px rgb(43, 43, 255);
  }
  1% {
    transform: scale(1.1);
    background-color: #b0afaf;
    border: 4px solid rgb(38, 114, 255);
    z-index: 9900;
  }
  100% {
    transform: scale(1);
    background-color: #080808;
    -webkit-text-stroke: 0.2px rgb(255, 255, 255);
    color: #1b0096;
  }
}

footer{
  position: relative;
  left: -650px;
  right: auto;
  top: 90px;
  height: 150px;
  
   p{
    color: #ffffff;

  }
  p:hover{
    color: #5b36fe;
    
  }

}
